* {
    /* background: #000; */
}

body {
    background: #A9E5BB;
}

/* switch mode */


.chartContainer {
    width: clamp(300px, 90vw , 600px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: auto;
    gap: 20px;
}

.mainChart {
    border-radius: 20px;
    background: #4C443E;
}


.chart {
    aspect-ratio: 1 / 1;
    border-radius: 20px;
    background: #4C443E;
    transform: translate(10px, -10px);
    transition: all .3s ;
    outline: 2px solid #A9E5BB;
}

.chart:hover{
    transform:translate(0, 0);
}

.chartContainer .ex{
    fill: #FBE267;
}

.chartContainer .ou{
    fill: #8EC1EF;
}


@keyframes clearBox {
    50% {
        transform: rotateX(90deg) translateZ(100px);
    }
}