* {
    /* background: #000; */
}

body {
    background: #192a32;
}

/* switch mode */

.chartContainer {
    width: clamp(300px, 90vw , 600px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: auto;
    gap: 20px;
}

.mainChart {
    background: #0e202a;
    border-radius: 30px;

}


.spot {
    aspect-ratio: 1 / 1;
    background: #1f3540;
    transform: translateY(-10px);
    transition: all .2s ;
    /* outline: 1px solid #A9E5BB; */
    border-radius: 30px;
}

.spot:hover{
    transform:translate(0, 0);
}

.chartContainer .ex, .ou {
    width: 50%;
    align-self: center;;
}

.chartContainer .ex{
    fill: #31c4be;
}

.chartContainer .ou{
    fill: #f2b237;
}


@keyframes clearBox {
    50% {
        transform: rotateX(90deg) translateZ(100px);
    }
}